.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.pyg_header {
  height: 45px;
  background-color: #eee;
  padding: 4px;
}
.pyg_content {
  flex: 1;
  overflow: scroll;
}
.pyg_footer {
  height: 45px;
}
.pyg_nav {
  padding: 15px;
  display: flex;
  background-color: #fff;
}
.pyg_nav > a {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: #333;
}
.pyg_nav > a > img {
  width: 50%;
  display: inline-block;
}
.goodsList {
  padding: 10px;
}
.goodsList .proBox {
  width: 100%;
  padding-bottom: 5px;
}
.goodsList .proBox > img {
  width: 100%;
  display: block;
}
.goodsList .proBox > .sBox {
  width: 49%;
  margin-top: 10px;
  float: left;
  background-color: #fff;
}
.goodsList .proBox > .sBox > .pyg_good {
  width: 100%;
}
.goodsList .proBox > .sBox > .pyg_good > img {
  width: 100%;
  display: block;
}
.goodsList .proBox > .sBox > .pyg_good > .pyg_desc {
  color: #333;
  font-size: 13px;
  margin: 5px 0;
}
.goodsList .proBox > .sBox > .pyg_good > .pyg_price {
  color: red;
}
.goodsList .proBox > .sBox > .pyg_btncate {
  width: 80%;
  display: block;
  margin: 5px auto;
}
.goodsList .proBox > .sBox:nth-of-type(even) {
  margin-left: 2%;
}
